$scheme: #07c;
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    max-width: 1200px;
    margin: auto;
    align-content: center;
    background-color: whitesmoke;
}

button, .help {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 2px 7px;
    font-size: large;
    font-weight: bold;
    background-color: #dde;
    border: 0px;
}

button:hover, .help:hover {
    background-color: #fff;
}

button:active, .help:active {
    background-color: #07c;
}

body, input, select, button {
    font-family: 'Lato', 'Segoe UI', Tahoma, sans-serif;
}

pre {
    font-family: 'Consolas', monospace
}

.hero-name {
    font-style: italic;
    display: inline-block;
}

h1 {
    margin: 10px 0px;
}

.hero-2 {
    font-weight: normal;
}

.right {
    width: 50%;
    float: right;
}

.left {
    display: inline-block;
    width: 40%;
}

.group .wide,
.setup-wide>div {
    display: flex;
    margin: 5px 0;
    width: 100%;
}

.wide>input,
.wide>select,
select.wide,
input.wide,
button.wide,
.wide>span,
.setup-wide>div>* {
    flex-grow: 1;
    padding: 5px 20px;
    width: 50px;
    margin: auto;
}

.setup-wide>div>span {
    flex-grow: 1;
    min-width: 100px;
}

.setup-wide>div {
    font-size: 14px;
    margin: 0px;
}

input[placeholder='Chunkname'] {
    flex-grow: 0;
    width: 150px;
}

.rem {
    margin-left: 5px;
}

#loader-add,
#plugin-add {
    background-color: lighten($scheme, 50%);
    padding: 5px;
    margin: 5px 0px;
    animation: height 0.3s ease-in;
}

.npm-link>a {
    color: lighten($scheme, 70%);
    white-space: nowrap;
    text-decoration-line: none;
}

.group {
    padding: 0px;
    max-height: 0px;
    overflow-y: hidden;
    transition: max-height ease-out 0.2s;
}

.hide {
    display: none;
}

.hide:checked+.group,
#show-all:checked~.group {
    padding: 5px 0px;
    max-height: 1000px;
    transition: max-height ease-in 0.2s;
}

label {
    cursor: pointer;
}

h2 {
    margin: 8px 0px 0px 0px;
    font-weight: bold;
    display: block;
    font-size: 20px;
}

pre {
    line-height: 1.4em;
}

.wrap {
    white-space: pre-wrap;
    padding-left: 3em !important;
    text-indent: -2em;
}

.info {
    font-size: 14px;
    background-color: lighten($scheme, 70%);
    color: #222;
    margin-top: 5px;
    padding: 5px;
    border-radius: 0px 5px 5px 5px;
}

.list {
    font-size: 14px;
}

.hljs {
    background: darken(#07c, 32%);
}
